# Practise *№2*
# Студента групи МІТ-31 - підгрупа 1
# **Фітя Владислава Тарасовича**

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

Using matplotlib backend: Qt5Agg

In [14]:
dataset = pd.read_csv('train.csv')
# dataset.shape
dataTest = pd.read_csv('test.csv')

Відображаємо записи

In [15]:
dataset.head()

          X          y
0  0.899058  32.707516
1 -0.736311 -37.159065
2  0.645475  23.180966
3  0.012722   0.284512
4 -1.817424 -78.417180

In [16]:
dataset.describe()

                X           y
count  100.000000  100.000000
mean     0.013946    0.456953
std      0.941967   36.568258
min     -2.499103  -90.642957
25%     -0.574431  -21.890572
50%     -0.008229   -0.723162
75%      0.647435   22.611141
max      2.207857   87.508289

In [17]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 1].values

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, random_state=0)
X_test = dataTest.iloc[:, :-1].values

In [19]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [20]:
print(regressor.intercept_)
print(regressor.coef_)

-0.24382169662170528
[38.42499563]

In [21]:
y_pred = regressor.predict(X_test)

In [22]:
data = pd.DataFrame({'X': X_test.ravel(), 'y': y_pred.ravel()})
x = np.round(data['X'],2)
y = np.round(data['y'],3)
data = pd.DataFrame({'X': x.ravel(), 'y': y.ravel()})

In [23]:
data.to_csv("test.csv", index=False)